<p style="color: green"><%= notice %></p>

<h1>My Recipes</h1>

<%= link_to "New recipe", new_user_recipe_path, class: 'new-recipe-link' %>

<div id="recipes">
  <% @recipes.includes([:user]).each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>


