<p style="color: green"><%= notice %></p>

<h1>Public Recipes</h1>

<%= link_to "New recipe", new_user_recipe_path(current_user.id) %>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", user_recipe_path(current_user.id, recipe.id) %>
    </p>
  <% end %>
</div>
