<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Back to recipes", user_recipes_path %>

  <%= button_to "Destroy this recipe", 
  user_recipe_path(current_user.id, @recipe.id), 
  method: :delete,
  form: { data: { turbo_confirm: 'Are you sure you want to delete this recipe?' }} %>
</div>
