<div>
  <h1>Shopping List</h1>

  <p>
    <strong>Amount of food / Items to buy: </strong>
    <%= @food_number %>
  </p>

  <p>
    <strong>Total value of food: </strong>
  </p>

  <div id="foods">
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </div>
</div>
